.content {
  margin: 0 auto;
  text-align: center;
  background: #44413d;
  height: auto;
}

.location {
  height: 50vw;
  width: 98%;
  margin: 0;
}

.contact {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 725px) {
  .contact {
    gap: 25px;
    flex-direction: column;
  }
  .contact-ways {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    gap: 49px !important;
    margin: 0 auto;
    width: 90vw !important;
    grid-template-columns: auto auto auto !important;
    margin-bottom: 50px;
    top: 40px !important;
  }

  .way {
    margin: 0 auto;
  }
}

.modal {
  max-width: 1140px;
  display: contents;
  margin: 0 auto;
}

.contact-ways {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 50px;
  top: 40px;

  .way {
    width: fit-content;
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-weight: bold;
    color: white;
    word-break: break-all;
  }
}

.no-mail {
  text-align: justify;
}

.contact-form {
  display: grid;
  row-gap: 10px;
  margin: 0 auto;
  text-align: justify;
}

.title {
  width: 100%;
  margin: 0;
  padding: 30px;
  color: white;
}

label {
  color: white;
  font-size: 20px;
}

input, textarea {
  background: transparent;
  min-height: 45px;
  font-size: 15px;
  border-radius: 13px;
  color: white;
  outline: none;
  padding: 0 25px;
  border: 1px solid #f5593d;
}
