.content {
  margin: 0 auto;
  text-align: center;
  background: #44413d;
  height: 100vh;
}

.location {
  height: 45vw;
  width: 98%;
  margin: 0;
}

.contact {
  width: 100%;
  min-height: 200px;
}

.title {
  width: 100%;
  margin: 0;
  padding: 30px;
  color: white;
}
