<div class="section section-buttons">
    <div class="container pu-50">
        <div class="title">
            <h2>QUEM SOMOS?</h2>
        </div>
        <div id="buttons">
            <div class="title">
                <h3>
                    Somos uma empresa voltada á consertos de aparelhos elétricos como:
                </h3>
            </div>
            <div class="row">
                <div class="col-12 items">
                    <smart-icon [size]="5" [message]="'Televisores'" [icon]="'fa fa-tv'"></smart-icon>
                    <smart-icon [size]="5" [message]="'Games'" [icon]="'far fa-gamepad'"></smart-icon>
                    <smart-icon [size]="5" [message]="'Radio'" [icon]="'fas fa-volume-up'"></smart-icon>
                    <smart-icon [size]="5" [message]="'Cameras'" [icon]="'fas fa-camera'"></smart-icon>
                    <smart-icon [size]="5" [message]="'Microondas'"><span class="iconify" style="font-size: 5vw;" data-icon="mdi-microwave" data-inline="false"></span></smart-icon>
                    <smart-icon [size]="5" [message]="'Geral'" [icon]="'fas fa-microchip'"></smart-icon>
                    <!-- <smart-rounded-image [title]="'Televisores'" [urlImage]="'assets/img/examples/tv-bg.png'">
                    </smart-rounded-image>
                    <smart-rounded-image [title]="'Games'" [urlImage]="'assets/img/examples/games-bg.png'">
                    </smart-rounded-image>
                    <smart-rounded-image [title]="'Radio'" [urlImage]="'assets/img/examples/radio-bg.png'">
                    </smart-rounded-image>
                    <smart-rounded-image [title]="'Microondas'" [urlImage]="'assets/img/examples/microwave.png'">
                    </smart-rounded-image>
                    <smart-rounded-image [title]="'Cameras'" [urlImage]="'assets/img/examples/digital-camera-bg.png'">
                    </smart-rounded-image>
                    <smart-rounded-image [title]="'Geral'" [urlImage]="'assets/img/examples/general-bg.png'">
                    </smart-rounded-image> -->
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <hr />
        <br />
        <div class="container">
            <div class="title">
                <h2>O QUE NOS DIFERENCIA?</h2>
            </div>
            <div id="buttons">
                <div class="title">
                    <h3>
                        Temos alguns aspectos que nos diferenciam de outras assistências da região:
                    </h3>
                </div>
                <div class="row">
                    <div class="col-12 modal-itens">
                        <div class="model">
                            <p>Orçamentos 24h</p>
                        </div>
                        <div class="model">
                            <p>Entrega gratis em qualquer região do estado de São Paulo</p>
                        </div>
                        <div class="model">
                            <p>Orçamentos 24h</p>
                        </div>
                        <div class="model">
                            <p>Orçamentos 24h</p>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <hr />
                <br />
                <app-navigation></app-navigation>
            </div>
        </div>