.items {
  display: flex;
  column-gap: 200px;
  row-gap: 50px;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .items {
    column-gap: 60px !important;
  }
}

smart-icon {
  min-width: 200px;
  margin: 0 auto;
}

.pu-50 {
  padding: 50px 0 0 0;
}

.model {
  border: 1px solid;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: fit-content;
  height: fit-content;
}

.model:hover {
  transition: 0.25s ease-in-out;
  border-color: #ff641f;
}

.modal-itens {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
