<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/background.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <img src="assets/img/logo/logo-528x.png" style="user-select: none; border-radius: 20px;" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <app-basicelements></app-basicelements>
        <app-navigation></app-navigation>
        <app-notification></app-notification>
    </div>
</div>