<div class="section section-buttons">
    <div class="container pu-50">
        <div class="title">
            <h2>QUEM SOMOS?</h2>
        </div>
        <div id="buttons">
            <div class="title">
                <h3>
                    Somos uma empresa voltada á consertos de aparelhos elétricos como:
                </h3>
            </div>
            <div class="row">
                <div class="col-12 items">
                    <smart-icon [size]="100" [message]="'Televisores'" [icon]="'bi:tv'" [isIconfy]="true"></smart-icon>
                    <smart-icon [size]="100" [message]="'Games'" [icon]="'dashicons:games'" [isIconfy]="true"></smart-icon>
                    <smart-icon [size]="100" [message]="'Radio'" [icon]="'bx:bx-radio'" [isIconfy]="true"></smart-icon>
                    <smart-icon [size]="100" [message]="'Cameras'" [icon]="'bi:camera'" [isIconfy]="true"></smart-icon>
                    <smart-icon [size]="100" [message]="'Microondas'" [icon]="'ic:sharp-microwave'" [isIconfy]="true"></smart-icon>
                    <smart-icon [size]="100" [message]="'Geral'" [icon]="'bx:bx-microchip'" [isIconfy]="true"></smart-icon>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <hr />
        <br />
        <div class="container">
            <div class="title">
                <h2>O QUE NOS DIFERENCIA?</h2>
            </div>
            <div id="buttons">
                <div class="title">
                    <h3>
                        Temos alguns aspectos que nos diferenciam de outras assistências da região:
                    </h3>
                </div>
                <div class="row">
                    <div class="col-12 modal-itens">
                        <div class="model">
                            <p>Entrega gratis em regiões próximas de Santo André</p>
                        </div>
                        <div class="model">
                            <p>Aceitamos qualquer tipo de pagamento em até 12x sem juros</p>
                        </div>
                        <div class="model">
                            <p>Orçamentos 24h realizados por qualquer meio de contato</p>
                        </div>
                        <div class="model">
                            <p>As peças utilizadas nos reparos são 100% originais da propria fabricante</p>
                        </div>
                        <div class="model">
                            <p>Reparos pela garantia sao realizados em até 24 Horas se não houver nenhum imprevisto</p>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <hr />
                <br />
                <smart-contract-conditions></smart-contract-conditions>
            </div>
        </div>