<div class="section section-navbars">
    <div class="container" id="menu-dropdown">
        <div class="title">
            <h3 class="text-center">CONDIÇOES GERAIS DO CONTRATO</h3>
        </div>
        <div class="row">
            <div class="col-12 conditions">
                <smart-modal-component [title]="'Orçamento'" [preContent]="''" [viewButtonLabel]="'Orçamento'" [content]="condicaoOrcamento"></smart-modal-component>
                <smart-modal-component [title]="'Garantia'" [preContent]="''" [viewButtonLabel]="'Garantia'" [content]="condicaoGarantia"></smart-modal-component>
                <smart-modal-component [title]="'Prazo de Retirtada'" [preContent]="''" [viewButtonLabel]="'Prazo de Retirtada'" [content]="condicaoPrazoRetirada"></smart-modal-component>
                <smart-modal-component [title]="'Prazo de Entrega'" [preContent]="''" [viewButtonLabel]="'Prazo de Entrega'" [content]="condicaoPrazoEntrega"></smart-modal-component>
            </div>
        </div>
    </div>
</div>
