<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://github.com/NYAUW">GITHUB</a></li>
                    <li><a style="cursor: pointer;">lucas2001.789@gmail.com</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, desenvolvido com <i class="fa fa-heart heart"></i> por Lucas Ribeiro
                </span>
            </div>
        </div>
    </div>
</footer>
